@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --background-dark: rgba(0, 0, 0, 0.9);
  --background-light: rgba(0, 0, 0, 0.3);
  --background-pink-light: #f30c4e;
  --background-pink-dark: #b60e38;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #b3acac;
  background-image: url("../dist/img/9d5d0870418f00063d63.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
  color: white;
}

#content {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-light);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background-color: var(--background-dark);
}

.restaurant-name {
  font-size: 4rem;
  letter-spacing: 0.5rem;
}

.nav {
  display: flex;
  font-size: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.nav-item {
  list-style: none;
  padding: 1rem 1rem 0;
  cursor: pointer;
}

.nav-item:hover {
  border-bottom: 2px solid white;
  margin-bottom: -2px;
}

.main {
  display: flex;
  align-items: center;
  margin: 3rem;
  flex: 1;
}

.home {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 4rem 0 4rem 25rem;
}

.home-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

.home-h2 {
  font-size: 5rem;
}

.home-h3 {
  align-self: center;
  font-size: 1.5rem;
}

.order-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-button {
  padding: 2rem 4rem;
  font-size: 1.5rem;
  background-color: var(--background-pink-light);
  border: none;
  color: white;
  border-radius: 2rem;
  cursor: pointer;
}

.order-button:hover {
  background-color: var(--background-pink-dark);
}

.footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: var(--background-dark);
  font-size: 1.5rem;
  padding: 0.75rem;
}

.fa-github::before {
  content: "\f09b";
  color: #fff;
}
